<%= render 'shared/header'%>
<div class="main">
  <%= render 'shared/side'%>
  <div class="carts">

    <hr>
    <div class="cart-title">
      <% if @cart_items.where(buy: true).count > 0  %>
        カート　<%= link_to "配送", new_send_path %>　<%= link_to "履歴・返送", sends_path %>
      <% else %>
        カート　<%= link_to "履歴・返送", sends_path %>
      <% end %>
    </div>
    <hr>

    <% @cart_items.where(buy: true).each do |item| %>
      <div class="cart-item">
        <%= image_tag item.item.product.image %>
        <%= item.item.product.name %>
        <%= item.item.condition.name %>
        <%= item.item.text %>
        <%= link_to "削除", cart_path(item.id), method: :delete  %>
        <%= link_to "今は購入しない", cart_path(item.id, buy: item.buy), method: :patch %>
      </div>
    <% end %>

    <hr>
    <div class="cart-title">
      あとで買う
    </div>
    <hr>

    <% @cart_items.where(buy: false).each do |item| %>
      <div class="cart-item">
        <%= image_tag item.item.product.image %>
        <%= item.item.product.name %>
        <%= item.item.condition.name %>
        <%= item.item.text %>
        <%= link_to "削除", cart_path(item.id), method: :delete  %>
        <%= link_to "カートへ移動", cart_path(item.id, buy: item.buy), method: :patch %>
      </div>
    <% end %>

  </div>
</div>