<%= render 'shared/header'%>
<div class="main">
  <%= render 'shared/side'%>
  <div class="items">
    <div class="product-name">
      <%= @product.name %>
    </div>
    <div class="product-image">
      <%= image_tag @product.image %>
    </div>
    <% @items.each do |item| %>
      <% unless item.sends.present? %>
        <div class="item">
          <div class="item-condition">
            <%= link_to "#{item.condition.name} カートに追加！", { controller: :carts, action: :create, item_id: item.id }, method: :post %>
          </div>
          <div class="item-text">
            <%= item.text %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>